* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gowun Dodum', sans-serif;
    outline: none;
}


/*header 로고 / 검색창 / 로그인 정렬---------*/
.flex-box {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
}

/*header 상단고정---------*/

header {
    top: 0;
    height: 160px;
    min-width: 1200px;
    position: sticky;
    background-color: white;
    box-shadow: 0 4px 4px -4px gray;
    z-index: 2;
}

/*header 로고---------*/

.logo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.space {
    min-width: 1200px;
    height: 25px;
    position: relative;
    background-color: lightsalmon;
    margin: auto;
}

.login {
    width: 200px;
    position: absolute;
    display: flex;
    justify-content: space-between;
    right: 0;
    /* margin-right: 10px; */
    text-align: center;
}

.login a {
    text-decoration: none;
    /* color: black; */
    color : white;
}

.login>li {
    width: 60px;
}


.l_hover {
    position: relative;
}

.hoverbox {
    width: 90px;
    border: 1px solid gray;
    display: none;
    text-align: center;
    position: absolute;
    background-color: white;
    right: 0;
    top: 25px;
    padding: 8px;
}

.login li:nth-of-type(3):hover .hoverbox {
    display: block;
}

.hoverbox a {
    color: black;
    font-size: .9em;
    display: block;
    margin : 3px 0px;
}


/*header 검색창---------*/

.search {
    width: 350px;
    height: 40px;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 300px;
    font-size: 16px;
    border: 0;
}

.button {
    border: none;
    background: none;
}

.button-set {
    width: 30px;
    line-height: 30px;
    margin-right: 8px;
}

/* 장바구니 찜한 상품 ---------*/

.cart_heart {
    width: 150px;
    display: flex;
    justify-content: center;
}

.cart_heart a {
    background-position: center;
    background-size: 100%;
    width: 30px;
    height: 30px;
    margin-left: 15px;
}

.cart {
    background-image: url(../image/cart.png);
}

.cart:hover {
    background-image: url(../image/cart_coral.png);
}

.heart {
    background-image: url(../image/heart.png);
}

.heart:hover {
    background-image: url(../image/heart_coral.png);
}

.mpage {
    background-image: url(../image/mypage.png);
}

.mpage:hover {
    background-image: url(../image/mypage_coral.png);
}

/* 메뉴 ---------*/
.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    width : 
}

nav {
    min-width: 1200px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
}

.menu>li {
    text-align: center;
    width: 150px;
    line-height: 35px;
    margin : 0 40px;
}

.menu>li>a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 19px;
}

.submenu,
.submenu2 {
    display: none;
    width: 100%;
    position: absolute;
}
.submenu a,
.submenu2 a {
    text-decoration: none;
    color: black;
    display: block;
}


.submenu>li,
.submenu2>li {
    width: 150px;
    box-sizing: border-box;
    line-height: 35px;
    background-color: white;
    border: 0.5px solid lightgray;
    border-top: none;
}

/* 메뉴 hover ---------*/

.menu li:hover {
    background-color: rgb(255, 196, 172);
    transition-duration: 0.5s;
}

nav ul li:nth-child(1):hover .submenu,
nav ul li:nth-child(4):hover .submenu2 {
    display: block;
}

/* banner ------------*/

.banner {
    min-width: 1200px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* main -------------*/

.main-width {
    width: 1200px;
    margin: 0 auto;
}

.main-flex,
.pop_pro,
.rec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.pop_pro {
    margin-bottom: 100px;
}

.pop {
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px auto;
}

.pop a {
    text-decoration: none;
    color: black;
}

.pop_pro {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    justify-content: center;
}

.rec {
    display: grid;
    grid-template: repeat(1, 1fr) / repeat(4, 1fr);
    justify-content: center;
}

.game {
    border: 1px solid;
    width: 1200px;
    line-height: 300px;
    text-align: center;
    margin: 50px auto;
}

.product {
    margin: 20px;
    overflow: hidden;
    position: relative;
}

.product a {
    color: black;
    text-decoration: none;
}

.product img {
    border-radius: 5%;
}

.pro1 img {
    width: 100%;
    transition: all 0.2s linear;
}

.pro1:hover img {
    opacity: .8;
}

header {
    z-index: 3;
}

.product button {
    position: absolute;
    right: 10px;
    bottom: 60px;
    background: none;
    border: none;
}

.product #wish_icon {
    color: white;
}

.product button:hover #wish_icon,
.product button:focus #wish_icon 
{
    color: red;
}
/* main 카테고리 ----------- */

.main-category {
    margin: 20px auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    
}


.main-category a {
    width: 70px;
    line-height: 70px;
    border-radius: 10px;
    background-color: rgb(255, 178, 148);
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    display: block;
    text-align: center;
}

.main-category a:nth-of-type(5) {
    font-size: 16px;
}

.main-category a:hover {
    opacity: .8;
}

/* top button ------------ */

.topButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    object-fit: cover;
}

/* footer ------------ */

footer {
    /* height: 160px; */
    min-width: 1200px;
    margin-top: 50px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: black;
    font-size: .8em;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

pre {
    font-size: .8em;
}