<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">


</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<main>

    <div>
        <input id="address1" type="text" placeholder="">
        <button id="daum">주소 찾기</button>
    </div>

</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    document.getElementById("daum").addEventListener("click", function () {
        new daum.Postcode({
            oncomplete: function (data) {
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;            }
        }).open();
    })
</script>


</body>

</html>