<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../user/css/mypage.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <script defer src="../../../order/js/address.js"></script>
    <script defer src="../../js/main_topDiv.js"></script>
<!--    <script src="/webjars/jquery/3.6.0/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<main>
    <div class="mypage">
        <div class="aside">
            <div class="name">
                <h2>마이페이지</h2>
            </div>
            <ul>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/mypage.html" class="order">주문 내역
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/review.html" class="review">상품 후기
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/wish.html" class="wish">찜한 상품
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="address">배송지 관리
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/info.html" class="info">개인정보 수정
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content_adress_1">
                <h2>배송지 관리</h2>
                <div class="adress_add">
                    <button class="adress_add_button">
                        <span>새 배송지 추가</span>
                    </button>
                </div>
            </div>
            <div class="content_adress">
                <div class="content_adress_2">
                    <div>선택</div>
                    <div>주소</div>
                    <div>받으실분</div>
                    <div>연락처</div>
                    <div>수정</div>
                </div>
                <div class="content_adress_box" th:each="deliveryList:${deliveryList}">
                    <div><input type="radio" name="adress_select"></div>
                    <div>
                        <span th:text="${deliveryList.dely_address1}"></span>
                        <span th:text="${deliveryList.dely_address2}"></span>
                    </div>
                    <div th:text="${deliveryList.dely_name}"></div>
                    <div th:text="${deliveryList.dely_phone}"></div>
                    <div>
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="content_adress_3">
                <button class="adress_button">
                    <span>기본 배송지 설정</span>
                </button>
            </div>
        </div>
    </div>
    <div class="address_fix_content hidden">
        <div class="address_fix_box">
            <h2>배송지 수정</h2>
            <div>
                <div class="fix_address"></div>
                <input type="text" placeholder="나머지 주소를입력해 주세요.">
            </div>
            <div>
                <div class="fix_name">받으실 분</div>
                <input type="text" placeholder="이름을 입력해 주세요.">
            </div>
            <div>
                <div class="fix_call">연락처</div>
                <input type="text" placeholder="번호를 입력해 주세요.">
            </div>
            <div>
                <div class="address_fix_button">
                    <button class="fix_check">확인</button>
                    <button class="fix_cancel">삭제</button>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<a href="daum">다음</a>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    document.querySelector(".adress_add_button").addEventListener('click', function () {
        var width = 500;
        var height = 600;

        new daum.Postcode({
            width: width,
            height: height,
            oncomplete: function (data) {
                $.ajax({
                    url: "/address/test",
                    type: "POST",
                    data: JSON.stringify({ dely_zip: data.zonecode, dely_address1: data.address }),
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {
                        console.log("성공");
                    },
                    error: function(xhr, status, error) {
                        console.error("실패", error);
                    }
                });
            },
            onclose: function(state) {
                //state는 우편번호 찾기 화면이 어떻게 닫혔는지에 대한 상태 변수 이며, 상세 설명은 아래 목록에서 확인하실 수 있습니다.
                if(state === 'FORCE_CLOSE'){
                    //사용자가 브라우저 닫기 버튼을 통해 팝업창을 닫았을 경우, 실행될 코드를 작성하는 부분입니다.
                    close();
                } else if(state === 'COMPLETE_CLOSE'){
                    //사용자가 검색결과를 선택하여 팝업창이 닫혔을 경우, 실행될 코드를 작성하는 부분입니다.
                    //oncomplete 콜백 함수가 실행 완료된 후에 실행됩니다.
                    window.open('/address/daum', '_blank', 'width=800, height=600');
                }
            }

        }).open({
            left: (window.screen.width / 2) - (width / 2),
            top: (window.screen.height / 2) - (height / 2)
        });
    })

</script>

</body>

</html>