<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../user/css/mypage.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <script defer src="../../../order/js/address.js"></script>
    <script defer src="../../js/main_topDiv.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<main>
    <div class="mypage">
        <div class="aside">
            <div class="name">
                <h2>마이페이지</h2>
            </div>
            <ul>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/mypage.html"
                       class="order">주문 내역
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/review.html"
                       class="review">상품 후기
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/wish.html"
                       class="wish">찜한 상품
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="#" class="address">배송지 관리
                        <span></span>
                    </a>
                </li>
                <li>
                    <a href="../../../../../../../../project_1/mealbong/src/main/resources/templates/html/my_page/info.html"
                       class="info">개인정보 수정
                        <span></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content">
            <div class="content_adress_1">
                <h2>배송지 관리</h2>
                <div class="adress_add">
                    <button class="adress_add_button">
                        <span>새 배송지 추가</span>
                    </button>
                </div>
            </div>
            <div class="content_adress">
                <div class="content_adress_2">
                    <div>선택</div>
                    <div>주소</div>
                    <div>받으실분</div>
                    <div>연락처</div>
                    <div>수정</div>
                </div>
                <form id="dely_default" method="POST" action="dely_default">
                    <div class="content_adress_box" th:each="deliveryList:${deliveryList}">
                        <div>
                            <input type="radio" name="dely_number" th:value="${deliveryList.dely_number}"
                                   th:checked="${deliveryList.dely_check == 'Y'}">
                        </div>
                        <div>
                            <span name="dely_address1" th:text="${deliveryList.dely_address1}"></span>
                            <span name="dely_address2" th:text="${deliveryList.dely_address2}"></span>
                        </div>
                        <div name="dely_name" th:text="${deliveryList.dely_name}"></div>
                        <div name="dely_phone" th:text="${deliveryList.dely_phone}"></div>
                        <div>
                            <a th:href="@{/address/delyUpdate(dely_number=${deliveryList.dely_number})}">수정</a>

                        </div>
                    </div>
                </form>
            </div>
            <div class="content_adress_3">
                <button onclick="submitForm()" class="adress_button">
                    기본 배송지 설정
                </button>
            </div>
        </div>
    </div>
    <div class="address_fix_content hidden">
        <div class="address_fix_box">
            <form action="delyInsert" method="post">
                <h2>새 배송지 추가</h2>
                <input name="user_id" th:value="${deliveryList[0].user_id}" type="hidden">
                <input name="dely_zip" class="fix_zonecode" type="hidden">
                <div>
                    <input name="dely_address1" class="fix_address1" type="text" readonly>
                </div>
                <div>
                    <div class="fix_address2">나머지 주소</div>
                    <input name="dely_address2" type="text" placeholder="나머지 주소를입력해 주세요.">
                </div>
                <div>
                    <div class="fix_name">받으실 분</div>
                    <input name="dely_name" type="text" placeholder="이름을 입력해 주세요.">
                </div>
                <div>
                    <div class="fix_call">연락처</div>
                    <input name="dely_phone" type="text" placeholder="번호를 입력해 주세요.">
                </div>
                <div>
                    <div class="address_fix_button">
                        <button type="submit" class="fix_check">확인</button>
                        <button type="reset" class="fix_cancel">취소</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</body>
</html>