* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
}

/* ============================헤더=============================== */
header div {
    text-align: center;
}

header div div:nth-child(1) {
    background-color: bisque;
    height: 100px;
    min-width: 1200px;
}

header div div:nth-child(2) {
    background-color: coral;
    height: 56px;
    min-width: 1200px;
}

.logostyle {
    position: relative;
    bottom: 35px;
}

/* ==========================메인============================= */

.mainspan {
    font-weight: 600;
    font-size: 26px;


}


.spanstyle {
    color: red;
    font-size: 15px;
    font-weight: bold;
}

.spanstyle2 {
    font-size: 14px;

}

/* .spanstyle, */
.spanstyle2 {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;


}

.maindiv {
    text-align: center;
    margin-top: 50px;
    width: 710px;
}

.maindiv2 {
    margin-top : 50px;
    margin-bottom: 55px;
}

.divstyle1 {
    border-bottom: 2px solid black;

}

/* =============================form================================ */

fieldset {
    min-width: 600px;
    margin: 0 auto;
    /* background-color: bisque; */
    position: relative;
    border: none;
}

fieldset input {
    height: 40px;
}

.mainbox {
    width: 100%;
}

.box1 {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.box2 {
    width: 50%;
}

.box3 {
    width: 20%;
    box-sizing : border-box;
    padding-left : 15px;
}

.maindiv {
    margin: 0 auto;
}

.inner {
    width: 30%;
    text-align : left;
    padding-left : 15px;
    box-sizing : border-box;
}

.inner label {
    display: block;
    box-sizing: border-box;
    padding-top: 8px;
}

.font {
    font-weight: 700;

}

.font1 {
    font-weight: 700;
    font-size: 12px;
}

.inputstyle {
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    padding: 10px;

}

.inputstyle2 {
    height: 40px;
    width: 50px;
    box-sizing: border-box;
    border: none;
}

.inputstyle2:focus {
    outline: none;
}

.buttonstyle {
    width: 100%;
    height: 34px;
    /* margin-top : 2px; */
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
}

.buttonstyle:active,
.addressbutton:active {
    box-shadow: none;
}

.align {
    justify-content: flex-end;
}

.line {
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.button {
    width: 20%;
    height: 34px;
    /* margin-top : 2px; */
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;

}

.button_opacity {
    opacity : .3;
    font-weight : bold;
}

.button2 {
    width: 12%;
    height: 45px;
    /* margin-top : 2px; */
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    /* border-radius: 5px; */
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
    font-weight : bold;

}

.buttonBox {
    display: flex;
    justify-content: center;

}

.buttonBox2 {
    display: flex;
    justify-content: center;
    margin-top : 30px;

}

.addressBox {
    width: 50%;
    display: inline-flex;
    justify-content: flex-start;
}

.addressbutton {
    width: 100%;
    height: 34px;
    /* margin-top : 2px; */
    box-sizing: border-box;
    display: block;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;

}

.genderlabel {
    box-sizing: border-box;
    padding-top: 4px;
}

.gender {
    display: flex;
    align-items: center;

}

.genderinput {
    width: 20px;
    box-sizing: border-box;
    margin-right: 10px;
    /* accent-color : lightcoral; */
}

input {
    accent-color: rgba(228, 13, 13, 0.684);
}

.genderlabel2 {
    margin-right: 45px;
}

.birth {
    height: 44px;
    width: 50%;
    display: flex;
    box-sizing: border-box;
    justify-content : space-between;
    /* border: 1px solid black; */
}

.birthparentbox {
    flex: 0 1 0%;
    width: 50%;
    display: inline-flex;

}

.birthchild {
    box-sizing: border-box;
    width : 33%;
    border: 1px solid black;
}

.birthchild2 {
    display: flex;
    align-items: center;
    width: 33%;
    box-sizing : border-box;
    margin : 0 20px;
    border : none;

}

.birthchild3 {
    width: 33%;
}

.birth>div {
    width: 100%;
}

.month {
    width: 100px;
    height: 44px;
    box-sizing : border-box;
    padding-left : 10px;


}




.birthlabel {
    flex-shrink: 1;
}

.birthmainbox {
    display: flex;

}

.alignbox {
    width: 120px;
    height: 44px;
    flex-shrink: 3;
}


/* ==============footer================ */

footer {
    height : 300px;
    min-width : 1200px;
}