.outer {
    height: 100vh;
    width: 1200px;
    margin: 160px auto;
    /* border: 1px solid; */
}

.food_ex_outer {
    height: 600px;
    width: 1200px;
    margin: auto;
    margin-bottom: 200px;
    display: flex;
    gap: 50px;
}

img,
.food_ex_inner {
    display: inline-block;
}

.food_ex_outer img {
    width: 450px;
    height: 450px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px black;
}

.food_ex_inner {
    position: relative;
    top: 0;
}

.food_ex_inner div {
    width: 600px;
    margin: 20px auto;
}

.food_ex_inner div:nth-child(1) {
    position: relative;
    top: 0;
}

/* =========================================================== */

.food_exs .food_ex3 ul li {
    display: inline-block;
}

.food_exs ul,
.food_exs {
    list-style: none;
    padding: 0;
}

.food_ex3 p {
    width: 80px;
    text-align: center;
}

.food_ex6 button {
    font-size: 25px;
    width: 280px;
    height: 80px;
    margin-right: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    transition-duration: 0.3s;
    color: white;
}

/* ============================================================ */
.food_detail {
    display: flex;

    flex-direction: column;
    gap: 10px;
}

.food_detail div {
    display: flex;
    gap: 10px;
}

.food_detail div p {
    vertical-align: top;
    font-size: 25px;
}

.food_detail div img {
    width: 400px;
    height: 400px;
    border-radius: 10%;
    box-shadow: 3px 3px 3px black;
}