* {
    margin : 0;
    padding : 0;
}



/* =================================header frame===================================== */

header div {
    text-align : center;
}

header div div:nth-child(1) {
    background-color:bisque;
    height : 100px;
}
header div div:nth-child(2) {
    background-color:coral;
    height : 56px;
}

.logostyle {
    float : left;
    position : relative;
    bottom : 35px;
}

/* =============================main 아이디 비번 입력============================= */

.logintext {
    font-weight : 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.loginframe {
    min-width : 1050px;
    height : 900px;
    margin-top: 80px;
    margin-bottom : 40px;
}

.loginform {
    width : 340px;
    height : 350px;
    margin : 0px auto;
}

.login-id {
    height : 48px;
    margin-bottom : 20px;
} 

.login-pw {
    height : 48px;
}

.login-input {
    width : 330px;
    height : 54px;
    padding-left : 20px;
}

.logindiv {
    margin-top : 40px;
}

/* ====================================아이디비번 찾기======================================== */

.div_a a {
}

.a_tag:visited {
    color : black;
}

.div_a {
   margin-top : 20px;
   position : relative;
   left : 190px;
}


.a_tag {
    font-size : 13px;
    text-decoration: none;
    color : black;

}

.a_tag:hover {
    text-decoration:underline;
}


/* ============================로그인 회원가입========================== */

.loginbutton,
.accountbutton {
    width : 355px;
    height : 52px;
    margin-bottom : 10px;
    font-weight : bold;
    border : 1px solid rgb(255, 160, 122);
}

.loginbutton {
    margin-top : 30px;
    background-color: lightcoral;
    color : white;
    font-size : 16px;
}

.accountbutton {
    background-color: white;
}

.button_a {
    display : flex;
    justify-content: center;
    align-items : center;
    width : 100%;
    height : 48px;
    text-decoration: none;
    color : lightcoral;
    
    
}

.img {
    width : 100%;
    height : 45px;
}

.p {
    font-size : 18px;
    font-weight : bold;
}

.SocialLogin {
    display : flex;
    width : 355px;
    justify-content : space-between;
    align-items : center;
}

.SocialLogin a:nth-of-type(1) {
    margin-right : 20px;
    
}