* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gowun Dodum', sans-serif;
}

.space {
    min-width: 1200px;
    height: 25px;
    background-color: lightsalmon;
    position: relative;
}

/*header 로고 / 검색창 / 로그인 정렬---------*/
.flex-box {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 100px;
}

/*header 상단고정---------*/

header {
    top: 0;
    height: 160px;
    min-width: 1200px;
    position: sticky;
    background-color: white;
    box-shadow: 0 4px 4px -4px gray;
}

/*header 로고---------*/

.logo {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.login {
    width: 200px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    right: 0;
    margin-right: 10px;
    text-align: center;
}

.login a {
    text-decoration: none;
    color: white;
}

.login>li {
    width: 60px;
}

.l_hover {
    position: relative;
}

.hoverbox {
    width: 90px;
    border: 1px solid gray;
    display: none;
    text-align: center;
    position: absolute;
    background-color: white;
    right: 0;
    top: 25px;
}

.login li:nth-of-type(3):hover .hoverbox {
    display: block;
}

.hoverbox a {
    color: black;
    font-size: .9em;
}

/*header 검색창---------*/

.search {
    width: 350px;
    height: 40px;
    border: 2px solid lightsalmon;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search input {
    width: 300px;
    font-size: 16px;
    border: 0;
}

.search input:focus {
    outline: none;
}

.button {
    border: none;
    background: none;
}

.button-set {
    width: 30px;
    line-height: 30px;
    margin-right: 8px;
}

/* 장바구니 찜한 상품 ---------*/

.cart_heart {
    width: 150px;
    display: flex;
    justify-content: center;
}

.cart,
.heart {
    background-position: center;
    background-size: 100%;
    width: 30px;
    height: 30px;
}

.cart {
    background-image: url(../image/cart.png);
    margin-right: 15px;
}

.cart:hover {
    background-image: url(../image/cart_coral.png);
}

.heart {
    background-image: url(../image/heart.png);
}

.heart:hover {
    background-image: url(../image/heart_coral.png);
}

/* 메뉴 ---------*/
.menu {
    position: relative;
    display: flex;
    justify-content: space-between;
}

nav {
    min-width: 1200px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    position: -webkit-sticky;
    position: sticky;
    top: 160px;
}

.menu>li {
    text-align: center;
    width: 150px;
    line-height: 35px;
}

.menu>li a {
    text-decoration: none;
    color: black;
}

.submenu,
.submenu2 {
    display: none;
    width: 100%;
    position: absolute;
}

.submenu>li,
.submenu2>li {
    width: 150px;
    box-sizing: border-box;
    line-height: 35px;
    background-color: white;
    border: 0.5px solid lightgray;
    border-top: none;
}

/* 메뉴 hover ---------*/

.menu li:hover {
    background-color: rgb(255, 196, 172);
    transition-duration: 0.5s;
}

nav ul li:nth-child(1):hover .submenu,
nav ul li:nth-child(4):hover .submenu2 {
    display: block;
}

/* banner ------------*/

.banner {
    min-width: 1200px;
    height: 500px;
    width: 100%;
    object-fit: cover;
}

/* main -------------*/

.main-width {
    width: 1200px;
    margin: auto;
}

.main-flex,
.pop_rec {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.pop,
.recommend {
    font-size: 1.5em;
    font-weight: bold;
}

.pop a,
.recommend a {
    text-decoration: none;
    color: black;
}

.pop,
.pop_pro {
    width: 65%;
}

.recommend,
.rec {
    width: 30%;
}

.pop_rec {
    margin-bottom: 50px;
}

.pop_pro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product {
    width: 32%;
    height: 100%;
    overflow: hidden;
}

.product a {
    color : black;
    text-decoration: none;
}

.pro1 img {
    width: 100%;
    transition: all 0.2s linear;
    border-radius: 5%;
}

.pro1:hover img {
    transform: scale(1.03);
}

.rec {
    border : 1px solid;
}

/* main 카테고리 ----------- */

.main-category {
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
}

.main-box {
    width: 100px;
    line-height: 100px;
    text-align: center;
    background-color: rgb(255, 178, 148);
    border-radius: 10px;
}

.main-box a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

/* top button ------------ */

.topButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
    object-fit: cover;
}

/* footer ------------ */

footer {
    height: 20vh;
    min-width: 1200px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.footer a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

pre {
    font-size: .8em;
}





/* =============================================== */
/* food_page css */
/* outerbox1 설정 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.outerbox1 {
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    margin-bottom: 200px;

    display: flex;
    justify-content: space-around;
}

.innerbox1>ul {
    width: 500px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.innerbox1>ul>li {
    border-bottom: 1px solid;
    padding-bottom:10px;
}

.innerbox1>ul>li:last-child {
    border: none;
}

.innerbox1 img {
    width: 100%;
    height: 100%;
    border-radius:5%;
}

#menu,
#delivery,
#amount {
    display: flex;
    justify-content: space-between;
}

#icons ul,
#sale {
    display: flex;
    justify-content: space-around;
}

#amount select {
    width: 100px;
}

.foodpage_button {
    width: 200px;
    height: 50px;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    transition-duration: 0.3s;
    margin: 0 20px;
    font-size: 20px;
    color: white;
}

/* =============================================== */
/* middle box 설정 */

.middlebox {
    /* border:1px solid; */
    width: 1200px;
    height: 150px;
    margin:auto;

    display: flex;
    justify-content: space-around;
}

.middlebox a {
    color: black;
    text-decoration: none;
}

/* ================================================ */
/* outerbox2 설정 */

.outerbox2 {
    width: 1000px;
    margin: auto;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* ================================================ */
/* 상품후기 및 상품문의 */
#food_review,
#food_inquiry {
    width: 1000px;
    height:200px;
    margin:120px auto;
}

.last {
    width: 1000px;
    height: 100px;
    /* border: solid 1px; */
}

.last button {
    width: 120px;
    height: 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: lightsalmon;
    border: solid 1px lightsalmon;
    border-radius: 5px;
    transition-duration: 0.3s;
    color: white;
}

.review1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
}

.review2 {
    display: flex;
    justify-content:center;
    align-items: center;
}