body a {
    color : black;
    text-decoration : none;
}

.outer {
    height: 100vh;
    width: 1200px;
    margin: 160px auto;
    /* border: 1px solid; */
}

.food_theme,
.food_ranking,
.food_list {
    width: 1100px;
    margin: 20px 50px;
}
/* ============================================= */
/* 음식 나열 */
.food_list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content:center;
}

.food_container {
    width: 250px;
    height: 350px;
    /* border: 1px solid green; */
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 10%;
}

.food_theme a {
    margin-right: 40px;
}

/* ==================================================== */
/* 클릭하면 찐하게 표시 */

a:focus {
    font-weight: bold;
    color: orange;
}

.food_ranking a {
    padding-right:70px;
}