* {
    margin : 0;
    padding : 0;
}



/* =================================header frame===================================== */

header div {
    text-align : center;
}

header div div:nth-child(1) {
    background-color:bisque;
    height : 100px;
}
header div div:nth-child(2) {
    background-color:coral;
    height : 56px;
}

.logostyle {
    float : left;
    position : relative;
    bottom : 35px;
}

/* =============================main 아이디 비번 입력============================= */

.logintext{
    font-weight : 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}

.loginframe {
    min-width : 1050px;
    margin-top: 80px;
    margin-bottom : 40px;
}

.loginform {
    width : 340px;
    height : 350px;
    margin : 0px auto;
}

.login-id {
    height : 48px;
    margin-bottom : 20px;
} 

.login-pw {
    height : 48px;
}

.login-input {
    width : 330px;
    height : 54px;
    padding-left : 20px;
}

.logindiv {
    margin-top : 40px;
}

/* ====================================아이디비번 찾기======================================== */

a {
    text-decoration: none;
    color : black;
}

a:visited {
    color : black;
}

form>div:nth-child(2){
   margin-top : 20px;
   position : relative;
   left : 190px;
}

form>div:nth-child(2) a {
    font-size : 13px;
}


/* ============================로그인 회원가입========================== */

div button {
    width : 355px;
    height : 52px;
    margin-bottom : 10px;
    font-weight : bold;
}

.loginbutton {
    margin-top : 30px;
    background-color: purple;
    color : white;
}

.accountbutton{
    background-color: white;
    border : 1px solid purple;
    color : purple;
}