<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../admin/css/admin.css">
</head>
<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<script defer src="../admin/js/admin.js"></script>
<main>
    <div class="admin_aside">
        <div class="admin_name">
            <h2>관리자 페이지</h2>
        </div>
        <ul>
            <li><a href="/">회원관리</a></li>
            <li><a href="/">주문관리</a></li>
            <li><a href="/">상품관리</a></li>
            <li><a onclick="qna()">게시판관리</a></li>
        </ul>
    </div>
    <div class="resultArea">
    <div id="resultArea"></div>
    <div id="resultArea2"></div>
    </div>
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>