<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../board/css/qna.css">
    <link rel="stylesheet" href="../../../../admin/css/admin.css">
</head>
<body>
<script defer src="../../../../board/js/qna.js"></script>
<script defer src="../../../../admin/js/admin.js"></script>
<script th:inline="javascript">
    $(function(){
        $('#searchType').change(function(){
            if ( $(this).val()=='n' ) $('#keyword').val('');
        }); //change

        $('#qna_search').click(function(){
            self.location='/admin/qnaadmin'
            + '?currPage=1&rowsPerPage=10'
            + '&searchType='+$('#searchType').val()
            + '&keyword='+$('#keyword').val();
        }); //click
    }); // ready
</script>

<th:block th:replace="fragments/header :: headerFragement"></th:block>
<main>
    <th:block th:replace="fragments/admin_aside :: adminFragment"></th:block>
    <div class="content">
        <th:block th:replace="fragments/board_header :: boardFragment"></th:block>
        <div>
            <div>
                <h2>1:1 문의</h2>
                <hr>
            </div>
        </div>
        <div id="searchBar">
            <select name="searchType" id="searchType">
                <option value="n" th:selected="${pageMaker.cri.searchType == null}">전체</option>
                <option value="상품" th:selected="${pageMaker.cri.searchType == '상품'}">상품</option>
                <option value="교환/환불" th:selected="${pageMaker.cri.searchType == '교환/환불'}">교환/환불</option>
                <option value="주문/결제" th:selected="${pageMaker.cri.searchType == '주문/결제'}">주문/결제</option>
                <option value="회원정보" th:selected="${pageMaker.cri.searchType == '회원정보'}">회원정보</option>
                <option value="사이트 이용" th:selected="${pageMaker.cri.searchType == '사이트 이용'}">사이트 이용</option>
                <option value="기타" th:selected="${pageMaker.cri.searchType == '기타'}">기타</option>
            </select>
            <input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.getKeyword()}">
            <button id="qna_search">Search</button>
        </div>
        <br>
        <ul class="content_inquiry">
            <li>
                <ul>
                    <li>작성자(아이디)</li>
                    <li>카테고리</li>
                    <li>제목</li>
                    <li>작성일</li>
                    <li>답변상태</li>
                </ul>
            </li>
            <li th:if="${qnaList.isEmpty()}">
                <h3 style="text-align: center; padding: 100px; border-top: 1px solid silver">게시글이 없습니다.</h3>
            </li>
            <li th:unless="${qnaList.isEmpty()}">
                <ul th:each="qnaList:${qnaList}" class="qna_list">
                    <div class="inq_div">
                        <li th:text="${qnaList.getUser_id()}"></li>
                        <li th:text="${qnaList.getQna_type()}"></li>
                        <li th:text="${qnaList.getQna_title()}"></li>
                        <li th:text="${#temporals.format(qnaList.getQna_date(), 'yyyy.MM.dd')}"></li>
                        <li th:if="${qnaList.ans_content != null}">답변완료</li>
                        <li th:if="${qnaList.ans_content == null}" style="color: lightsalmon">답변대기</li>
                    </div>
                    <li class="ans hidden" style="width: 100%">
                        <div th:text="${qnaList.getQna_type()}" style="font-size: 0.9em; color:dimgray"></div>
                        <div class="ans_div">
                            <span>Q</span>
                            <span th:text="${qnaList.getQna_content()}"
                                  style="text-align:left; line-height: 25px;"></span>
                            <!--                                <span><img th:src="${qnaList.getQna_file()}" alt="qnaImage" width=200px height=200px></span>-->
                        </div>
                        <div th:if="${qnaList.ans_content == null || session['user_id']=='admin'}"
                             class="updelete">
                            <a th:href="@{/qna/qnaupdate(qna_num=${qnaList.getQna_num()})}">수정</a>
                            <a th:href="@{/qna/qnadelete(qna_num=${qnaList.getQna_num()})}">삭제</a>
                        </div>
                        <div th:if="${qnaList.ans_content != null}" class="ans_div">
                            <span>A</span>
                            <span th:text="${qnaList.getAns_content()}"
                                  style="text-align: left; line-height: 25px;"></span>
                        </div>
                        <div th:if="${session['user_id'] == 'admin' && qnaList.ans_content != null}" class="updelete">
                            <a th:href="@{/admin/ansform(qna_num=${qnaList.getQna_num()})}">답변수정</a>
                            <a th:href="@{/admin/ansdelete(qna_num=${qnaList.getQna_num()})}">답변삭제</a>
                        </div>
                        <div th:if="${session['user_id'] == 'admin' && qnaList.ans_content == null}"
                             class="ans_btn">
                            <button class="inquiry_form_button" value="답변 등록">
                                <a th:href="@{/admin/ansform(qna_num=${qnaList.getQna_num()})}"
                                   style="font-size: 1em; color:white;">답변 등록</a>
                            </button>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <div th:if="${session['user_id'] != 'admin'}" class="form_btn">
            <button onclick="location.href='/qna/qnaform'" value="문의하기">문의하기</button>
        </div>
        <div class="cri_div">
            <!-- ** Cri_Paging **
               1) FirstPage, Prev -->
            <th:block th:if="${pageMaker.prev && pageMaker.spageNo>1}">
                <!-- OLD_version -->
<!--            <a href="bcrilist${pageMaker.searchQuery(1)}">FP</a>&nbsp;&ndash;&gt;-->
<!--            <a href="bcrilist${pageMaker.searchQuery(pageMaker.spageNo-1)}">&lt;</a>-->
                <!-- OLD_version
         <a href="bcrilist?currPage=1&rowsPerPage=5">FP</a>&nbsp;
         <a href="bcrilist?currPage=${pageMaker.spageNo-1}&rowsPerPage=5">&lt;</a>

         self.location='/admin/qnaadmin'
            + '?currPage=1&rowsPerPage=10'
            + '&searchType='+$('#searchType').val()
            + '&keyword='+$('#keyword').val();
      -->
                <a th:href="@{/admin/qnaadmin(currPage=1,rowsPerPage=10)}">FP</a>&nbsp;
                <a th:href="@{/admin/qnaadmin(currPage=${pageMaker.spageNo-1}, rowsPerPage=10)}">&lt;</a>
            </th:block>
            <th:block th:unless="${pageMaker.prev && pageMaker.spageNo>1}">
                <font color="Gray">FP&nbsp;&lt;&nbsp;&nbsp;</font>
            </th:block>
            <!-- 2) Display PageNo  -->
            <th:block th:each="i: ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
                <th:block th:if="${i==pageMaker.cri.currPage}">
                    <font size="5" color="#ffa07a" th:text="${i}"></font>
                </th:block>
                <th:block th:unless="${i==pageMaker.cri.currPage}">
                    <a th:href="@{/admin/qnaadmin(currPage=${i}, rowsPerPage=10)}" th:text="${i}"></a>
                </th:block>
            </th:block>
            <!-- 3) Next, LastPage -->
            <th:block th:if="${pageMaker.next && pageMaker.epageNo > 0}">
                <a th:href="@{/admin/qnaadmin(currPage=${pageMaker.epageNo+1}, rowsPerPage=10)}"> ></a>
                <a th:href="@{/admin/qnaadmin(currPage=${pageMaker.lastPageNo}, rowsPerPage=10)}"> LP</a>
            </th:block>
            <th:block th:unless="${pageMaker.next && pageMaker.epageNo > 0}">
                <font color="Gray"> > LP</font>
            </th:block>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>