<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../admin/css/admin.css">
</head>
<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<!--<script defer src="../admin/js/admin.js"></script>-->
<main>
    <th:block th:replace="fragments/admin_aside :: adminFragment"></th:block>
    <div class="content">
        <div class="content_admin">
            <div>
                <h2>회원 관리</h2>
            </div>
        </div>
        <table class="content_inquiry" style="width: 100%">
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>이메일</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <!-- 스프링 프레임워크에 <c:forEach items="${mList}" var="m"> 와 같은 역할 -->
            <tr th:each="userList: ${userList}">
                <td th:text="${userList.user_id}">아이디</td>
                <!--            <td th:text="${userList.user_password}">비밀번호</td>-->
                <td th:text="${userList.user_name}">이름</td>
                <td th:text="${userList.user_email}">이메일</td>
                <td><a th:href="@{|/user1/delete/${userList.user_id}|}" style="color: black; text-decoration: none;">삭제</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>
</html>