<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="inquiryFragement">
  <div class="aside">
    <div class="name">
      <h2>고객센터</h2>
    </div>
    <ul>
      <li>
        <a href="../notice.html" class="notice">공지사항
          <span></span>
        </a>
      </li>
      <li>
        <a href="../faq.html" class="faq">자주하는 질문
          <span></span>
        </a>
      </li>
      <li>
        <a href="/qna/qnalist" class="inquiry">1:1 문의
          <span></span>
        </a>
      </li>
    </ul>
  </div>
</th:block>
</html>