<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <script src="../../../product/js/jquery-3.2.1.min.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../product/css/menu_list.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <script defer src="../../../common/js/main_topDiv.js"></script>
    <script defer src="../../../product/js/menulist.js"></script>

</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<div class="outerbox">
    <div class="innerbox1">
        <th:block th:each="productList:${code_number}">
            <a th:href="@{/product/productList(currPage=1,rowsPerPage=8, category_code=${productList.code_number})}" th:text="${productList.code_desc}"></a>&nbsp;|
        </th:block>
    </div>
    <hr>

    <div class="innerbox2">
        <a href="#" class="selected" data-direction=0><span onclick="productList_order(1)">인기순</span></a>
        <a href="#" data-direction=1><span onclick="productList_order(2)">신상품순</span></a>
        <a href="#" data-direction=2><span onclick="productList_order(3)">낮은 가격순</span></a>
        <a href="#" data-direction=3><span onclick="productList_order(4)">높은 가격순</span></a>
    </div>

    <div class="innerbox23">
            <h2>아시안</h2>
    </div>

    <div class="innerbox3">
        <div th:each="imageList:${imageList}">
            <span th:text="${imageList.image_main}"></span>
        </div>
        <div class="food_box" th:each="productList:${productList}">
<!--            일반 회원으로 login 했을 때-->
            <a th:if="${session['user_id'] != 'admin'}">
                <a th:href="@{|${productList.product_number}|}">
                    <div class="img_container">
                        <img th:src="${productList.image_file}" alt="상품 이미지">
                    </div>
                </a>
                <button class="basket"></button>
                <a th:href="@{|${productList.product_number}|}">
                <div class="menu_name" th:text="${productList.product_name}"></div></a>
                <div class="post">샛별배송</div>
                <div class="menu_price" th:text="${productList.product_price}"></div>
                <div class="food_hint">취향대로 맛있게 완성하는</div>
                <div class="hint_under"><span class="only">Mealbong Only</span><span class="limited">한정수량</span>
                </div>

            </a>
<!--            관리자로 login 했을 때-->
            <a th:if="${session['user_id'] == 'admin'}" >
                <a th:href="@{|${productList.product_number}|}" >
                    <div class="img_container">
                        <img th:src="${productList.image_file}" alt="상품 이미지">
                    </div>
                </a>
                <button class="basket"></button>
                <a th:href="@{|${productList.product_number}|}">
                <div class="menu_name" th:text="${productList.product_name}"></div></a>
                <div class="post">샛별배송</div>
                <div class="menu_price" th:text="${productList.product_price}"></div>
                <div class="food_hint">취향대로 맛있게 완성하는</div>
                <div class="hint_under"><span class="only">Mealbong Only</span><span class="limited">한정수량</span>
                    <div th:if="${session['user_id'] == 'admin'}">
                        <button class = "product_update_button" value="수정하기">
                            <a th:href="@{/product/productUpdate(product_number=${productList.getProduct_number()})}">수정</a>
                        </button>
                        <button class = "product_delete_button" value="삭제하기">
                            <a th:href="@{/product/productDelete(product_number=${productList.getProduct_number()})}">삭제</a>
                        </button>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="cri_div">
    <!-- ** Cri_Paging **
       1) FirstPage, Prev -->
    <th:block th:if="${pageMaker.prev && pageMaker.spageNo>1}">
        <!-- OLD_version -->
        <a th:href="@{/product/productList(currPage=1,rowsPerPage=8, category_code=${)}">FP</a>&nbsp;
        <a th:href="@{/product/productList(currPage=${pageMaker.spageNo-1}, rowsPerPage=8)}">&lt;</a>
    </th:block>
    <th:block th:unless="${pageMaker.prev && pageMaker.spageNo>1}">
        <font color="Gray">FP&nbsp;&lt;&nbsp;&nbsp;</font>
    </th:block>
    <!-- 2) Display PageNo  -->
    <th:block th:each="i: ${#numbers.sequence(pageMaker.spageNo, pageMaker.epageNo)}">
        <th:block th:if="${i==pageMaker.cri.currPage}">
            <font size="5" color="#ffa07a" th:text="${i}"></font>
        </th:block>
        <th:block th:unless="${i==pageMaker.cri.currPage}">
            <a th:href="@{/product/productList(currPage=${i}, rowsPerPage=8)}" th:text="${i}"></a>
        </th:block>
    </th:block>

    <!-- 3) Next, LastPage -->
    <th:block th:if="${pageMaker.next && pageMaker.epageNo > 0}">
        <a th:href="@{/product/productList(currPage=${pageMaker.epageNo+1}, rowsPerPage=8), category_code= }"> ></a>
        <a th:href="@{/product/productList(currPage=${pageMaker.lastPageNo}, rowsPerPage=8)}"> LP</a>
    </th:block>
    <th:block th:unless="${pageMaker.next && pageMaker.epageNo > 0}">
        <font color="Gray"> > LP</font>
    </th:block>
</div> <!--    paging -->

<!-- =========== 장바구니 모달창 (로그인 하기 전) =========== -->

<th:block th:if="${session['user_id'] == null}">
<div class="modal_container hidden">
    <div class="bg"></div>
    <div class="modalBox">
        <p></p>
        <div class="closeBtn_div">
            <form action="/user1/login">
                    <button class="closeBtn">확인</button>
            </form>
        </div>
    </div>
</div>
</th:block>
<!-- =========== 장바구니 모달창 (로그인 하기 전) =========== -->

<th:block th:if="${session['user_id'] != null}">\
    <div class="modal_container hidden">
        <div class="bg"></div>
        <div class="modalBox">
            <p></p>
            <div class="closeBtn_div">
                <form action="../login/login.html">
                    <button class="closeBtn">Test</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>