<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../product/css/menu_list.css">
    <link rel="stylesheet" href="../../../common/css/mainPage.css">
    <script defer src="../../../common/js/main_topDiv.js"></script>
    <script defer src="../../../product/js/menulist.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>

<div class="outerbox">
    <div class="innerbox1">
        <a href="../menu_list/Korean_menulist.html"><span>한식</span></a> |
        <a href="../menu_list/Chinese_menulist.html"><span>중식</span></a> |
        <a href="../menu_list/Japanese_menulist.html"><span>일식</span></a> |
        <a href="../menu_list/Western_menulist.html"><span>양식</span></a> |
        <a href="../menu_list/Bunsik_menulist.html"><span>분식/야식</span></a> |
        <a href="#"><span>아시안</span></a>
    </div>
    <hr>

    <div class="innerbox2">
        <a href="#" class="selected" data-direction=0><span>인기순</span></a>
        <a href="#" data-direction=1><span>신상품순</span></a>
        <a href="#" data-direction=2><span>낮은 가격순</span></a>
        <a href="#" data-direction=3><span>높은 가격순</span></a>
    </div>

    <div class="innerbox23">
        <h2>아시안</h2>
    </div>

    <div class="innerbox3">

        <div class="food_box" th:each="productList:${productList}">
            <a href="../food_info/Asian_FoodInfo/Asian_Bunzza.html">
                <div class="img_container">
                    <img th:src="${productList.image_file}" alt="상품 이미지">
                </div>
            </a>
            <button class="basket"></button>
            <div class="menu_name" th:text="${productList.product_name}"><a href="#"></a></div>
            <div class="post">샛별배송</div>
            <div class="menu_price" th:text="${productList.product_price}"></div>
            <div class="food_hint">취향대로 맛있게 완성하는</div>
            <div class="hint_under"><span class="only">Mealbong Only</span><span class="limited">한정수량</span>
            <div th:if="${session['user_id'] == 'admin'}">
                <button class = "product_update_button" value="수정하기">
                    <a th:href="@{/product/productUpdate(product_number=${productList.getProduct_number()})}">수정</a>
                </button>
                <button class = "product_delete_button" value="삭제하기">
                    <a th:href="@{/product/productDelete(product_number=${productList.getProduct_number()})}">삭제</a>
                </button>
            </div>
            </div>
        </div>

    </div>
</div>
<!-- =========== admin 으로 들어갔을 때, CRUD 버튼 =========== -->
<!-- =========== 장바구니 및 좋아요 모달창 (로그인 하기 전) =========== -->

<div class="modal_container hidden">
    <div class="bg"></div>
    <div class="modalBox">
        <p></p>
        <div class="closeBtn_div">
            <form action="../login/login.html">
                <button class="closeBtn">확인</button>
            </form>
        </div>
    </div>
</div>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>