<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../board/css/qna.css">
    <script defer src="../../../../user/js/inquiry.js"></script>
    <script defer src="../../../../board/js/qna.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<main>
    <div class="mypage">
        <th:block th:replace="fragments/inquiry_aside :: inquiryFragement"></th:block>
        <div class="content">
            <div class="content_1">
                <div>
                    <h2>1:1 문의</h2>
                </div>
            </div>
            <div class="content_inquiry_form">
                <form action="/qna/qnaupdate" method="post">
                    <div>
                        <input name="qna_num" th:value="${qnaList.getQna_num()}" style="display: none">
                    </div>
                    <div>
                        <div class="content_inquiry_form_1">유형<span></span></div>
                        <select th:value="${qnaList.qna_type}" name="qna_type" id="type" class="type">
<!--                            <option disabled selected>문의유형을 선택해주세요</option>-->
                            <option th:selected="${qnaList.qna_type}=='상품'" value="상품">상품</option>
                            <option th:selected="${qnaList.qna_type}=='교환/환불'" value="교환/환불">교환/환불</option>
                            <option th:selected="${qnaList.qna_type}=='주문/결제'" value="주문/결제">주문/결제</option>
                            <option th:selected="${qnaList.qna_type}=='회원정보'" value="회원정보">회원정보</option>
                            <option th:selected="${qnaList.qna_type}=='사이트 이용'" value="사이트 이용">사이트 이용</option>
                            <option th:selected="${qnaList.qna_type}=='기타'" value="기타">기타</option>
                        </select>
                    </div>
                    <div>
                        <div class="content_inquiry_form_2">제목<span></span></div>
                        <input th:value="${qnaList.qna_title}" name="qna_title" type="text" required>
                    </div>
                    <div>
                        <div class="content_inquiry_form_3">내용<span></span></div>
                        <textarea name="qna_content" class="content_inquiry_form_textarea"
                                  th:text="${qnaList.qna_content}" required onkeyup="check_lth(this);"></textarea>
                    </div>
                    <div class="up_btn">
                        <input type="submit" class="inquiry_form_button" value="수정 완료">
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

</html>