<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 밀키트 쇼핑몰 :: Meal Bong </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../css/mypage.css">
    <link rel="stylesheet" href="../../../css/mainPage.css">
    <script defer src="../../../js/inquiry.js"></script>
    <script defer src="../../../js/main_topDiv.js"></script>


</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
    <main>
        <div class="mypage">
            <div class="aside">
                <div class="name">
                    <h2>고객센터</h2>
                </div>
                <ul>
                    <li>
                        <a href="../notice.html" class="notice">공지사항
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="../faq.html" class="faq">자주하는 질문
                            <span></span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="inquiry">1:1 문의
                            <span></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="content">
                <div class="content_1">
                    <div>
                        <h2>1:1 문의</h2>
                    </div>
                </div>
                <div class="inquiry_box">
                    <div class="content_inquiry">
                        <div>번호</div>
                        <div>제목</div>
                        <div>작성일</div>
                        <div>답변상태</div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>15</div>
                            <div>개인정보를 수정하고 싶어요.</div>
                            <div>2022.11.25</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    로그인 후 마이페이지 화면에서 개인정보를 수정할 수 있습니다.<br>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>14</div>
                            <div>재고가 없는 상품은 언제쯤 구입할 수 있을까요.</div>
                            <div>2022.11.23</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    품절 상품 재입고 여부 및 일정은 정확한 확인이 가능하지 않습니다.<br>

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>13</div>
                            <div>1:1문의 테스트 1.</div>
                            <div>2022.11.22</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>12</div>
                            <div>1:1문의 테스트 2.</div>
                            <div>2022.11.21</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>11</div>
                            <div>1:1문의 테스트 3.</div>
                            <div>2022.11.20</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>10</div>
                            <div>1:1문의 테스트 4.</div>
                            <div>2022.11.19</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>9</div>
                            <div>1:1문의 테스트 5.</div>
                            <div>2022.11.18</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>8</div>
                            <div>1:1문의 테스트 6.</div>
                            <div>2022.11.17</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>7</div>
                            <div>1:1문의 테스트 7.</div>
                            <div>2022.11.16</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box">
                        <div class="inquiry_list">
                            <div>6</div>
                            <div>1:1문의 테스트 8.</div>
                            <div>2022.11.15</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box hidden">
                        <div class="inquiry_list">
                            <div>5</div>
                            <div>1:1문의 테스트 9.</div>
                            <div>2022.11.14</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box hidden">
                        <div class="inquiry_list">
                            <div>4</div>
                            <div>1:1문의 테스트 10.</div>
                            <div>2022.11.13</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box hidden">
                        <div class="inquiry_list">
                            <div>3</div>
                            <div>1:1문의 테스트 11.</div>
                            <div>2022.11.12</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box hidden">
                        <div class="inquiry_list">
                            <div>2</div>
                            <div>1:1문의 테스트 12.</div>
                            <div>2022.11.11</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_Box hidden">
                        <div class="inquiry_list">
                            <div>1</div>
                            <div>1:1문의 테스트 1.</div>
                            <div>2022.11.10</div>
                            <div>답변완료</div>
                        </div>
                        <div class="inquiry_list_content hidden">
                            <div>답변</div>
                            <div>
                                <p>
                                    해당 문의 내용으로는 고객님의 문의가 파악이 되지 않아 올바른 답변을 드리기가 어렵습니다.<br>
                                    답변을 드리지 못하는 점 사과드립니다.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="inquiry_list_btn">
                        <button>1</button>
                        <button>2</button>
                    </div>
                </div>
                <div class="content_inquiry_list_2">
                    <button class="inquriy_form_button" type="button">
                        <a href="./inquiry_form.html">문의 하기</a>
                    </button>
                </div>
            </div>
        </div>
    </main>
<th:block th:replace="fragments/footer :: footerFragment"></th:block>
</body>

</html>