<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../board/css/qna.css">
    <script defer src="../../../../user/js/inquiry.js"></script>
    <script defer src="../../../../board/js/qna.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
    <main>
        <div class="mypage">
            <th:block th:replace="fragments/inquiry_aside :: inquiryFragement"></th:block>
            <div class="content">
                <div class="content_1">
                    <h2>1:1 문의</h2>
                </div>
                <div class="content_inquiry_form">
                    <form action="/qna/qnaform" method="post">
                        <div>
                            <div class="content_inquiry_form_1">유형<span></span></div>
                            <select name="qna_type" id="type" class="type" required>
<!--                                <option selected disabled>문의유형을 선택해주세요</option>-->
                                <option value="상품">상품</option>
                                <option value="교환/환불">교환/환불</option>
                                <option value="주문/결제">주문/결제</option>
                                <option value="회원정보">회원정보</option>
                                <option value="사이트 이용">사이트 이용</option>
                                <option value="기타">기타</option>
                            </select>
                        </div>
                        <div>
                            <div class="content_inquiry_form_2">제목<span></span></div>
                            <input name="qna_title" type="text" class="inputstyle" placeholder=" 제목을 입력해 주세요." required>
                        </div>
                        <div>
                            <div class="content_inquiry_form_3">내용<span></span></div>
                            <textarea maxlength="500" name="qna_content" class="content_inquiry_form_textarea" placeholder=" 500자 까지 입력 가능합니다." required></textarea>
                        </div>
                        <div class="submit_div">
                            <input type="submit" value="등록">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
<footer th:replace="fragments/footer :: footerFragment"></footer>

</body>

</html>