<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment(~{::link})">
    <link rel="stylesheet" href="../../../../board/css/qna.css">
    <script defer src="../../../../user/js/inquiry.js"></script>
    <script defer src="../../../../board/js/qna.js"></script>
</head>

<body>
<th:block th:replace="fragments/header :: headerFragement"></th:block>
<main>
    <div class="mypage">
        <th:block th:replace="fragments/inquiry_aside :: inquiryFragement"></th:block>
        <div class="content">
            <div class="content_1">
                <div>
                    <h2>1:1 문의</h2>
                </div>
            </div>
            <ul class="content_inquiry">
                <li>
                    <ul>
                        <li>제목</li>
                        <li>작성일</li>
                        <li>답변상태</li>
                    </ul>
                </li>
                <li th:if="${qnaList.isEmpty()}">
                    <h3 style="text-align: center; padding: 100px; border-top: 1px solid silver">게시글이 없습니다.</h3>
                </li>
                <li th:unless="${qnaList.isEmpty()}">
                    <ul th:each="qnaList:${qnaList}" class="qna_list">
                        <div class="inq_div">
                            <li th:text="${qnaList.getQna_title()}"></li>
                            <li th:text="${#temporals.format(qnaList.getQna_date(), 'yyyy.MM.dd')}"></li>
                            <li th:if="${qnaList.ans_content != null}">답변완료</li>
                            <li th:if="${qnaList.ans_content == null}">답변대기</li>
                        </div>
                            <li class="ans" style="width: 100%">
                                <div th:text="${qnaList.getQna_type()}" style="font-size: 0.9em; color:dimgray"></div>
                                <div class="ans_div">
                                    <span>Q</span>
                                    <span th:text="${qnaList.getQna_content()}"
                                          style="text-align:left; line-height: 25px;"></span>
                                </div>
                                <div th:if="${qnaList.ans_content == null || session['user_id']=='admin'}"
                                     class="updelete">
                                    <a th:href="@{/qna/qnaupdate(qna_num=${qnaList.getQna_num()})}">수정</a>
                                    <a th:href="@{/qna/qnadelete(qna_num=${qnaList.getQna_num()})}">삭제</a>
                                </div>
                            </li>
                            <li class="ans" th:if="${qnaList.ans_content != null}"
                                style="width: 100%; margin-bottom:10px;">
                                <div class="ans_div">
                                    <span>A</span>
                                    <span th:text="${qnaList.getAns_content()}"
                                          style="text-align: left; line-height: 25px;"></span>
                                </div>
                                <div th:if="${session['user_id'] == 'admin'}" class="updelete">
                                    <a th:href="@{/qna/ansform(qna_num=${qnaList.getQna_num()})}">답변수정</a>
                                    <a th:href="@{/qna/ansdelete(qna_num=${qnaList.getQna_num()})}">답변삭제</a>
                                </div>
                            </li>

                            <div th:if="${session['user_id'] == 'admin' && qnaList.ans_content == null}"
                                 style="margin: 5px" class="ans_btn">
                                <button class="inquiry_form_button" value="답변 등록">
                                    <a th:href="@{/qna/ansform(qna_num=${qnaList.getQna_num()})}"
                                       style="font-size: 1em; color:white;">답변 등록</a>
                                </button>
                            </div>
                    </ul>
                </li>

            </ul>
            <div th:if="${session['user_id'] != 'admin'}" class="form_btn">
                <button onclick="location.href='/qna/qnaform'" value="문의하기">문의하기</button>
            </div>
        </div>
    </div>
    <div class="topButton">
        <a href="#"><img src="../../image/topbutton.png" title="위로 가기"></a>
    </div>
</main>
<footer th:replace="fragments/footer :: footerFragment"></footer>
</body>

</html>