<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.project.mealbong.delivery.DeliveryMapper">
    <select id="deliveryList" resultType="com.project.mealbong.delivery.DeliveryDTO">
        select * from dely;
    </select>


    <select id="deliveryDetail" resultType="com.project.mealbong.delivery.DeliveryDTO">
        select *
        from dely
        where faq_number = #{faq_number};
    </select>

    <delete id="deliveryDelete">
        delete
        from dely
        where faq_number = #{faq_number};
    </delete>

    <insert id="deliveryInsert">
        insert into dely(faq_code, faq_question, faq_answer)
        values (#{faq_code}, #{faq_question}, #{faq_answer})
    </insert>

    <update id="deliveryUpdate">
        update dely
        set faq_code=#{faq_code},
            faq_question=#{faq_question},
            faq_answer=#{faq_answer}
        where faq_number = #{faq_number};
    </update>


</mapper>